<div class="container">
  <h2 class="text-center">Lest's review your customized portfolio.</h2>
  <hr>
  <p>Your time horizon is <span class="badge badge-primary"><{{timeHorizonLabel | lowercase}}</span></p>
  <p>Projected growth in {{timeHorizonNumLabel}} Years <span class="badge badge-primary">{{projectedGrowth | currency}}</span></p>
  <p>Risk Level - <span class="badge badge-primary">{{riskLevelLabel}}</span></p>

  <div class="dashboard-chart">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            chartType="pie">
    </canvas>
  </div>

  <div class="text-center">
    <button (click)="subscribeAccount()" type="button" mat-raised-button color="primary">Create Portfolio</button>
  </div>

</div>
