.selectCard {
  width: 100%;
}

.selectCard {
  height: 150px;
  text-align: center;
  cursor: pointer;
  .mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
  }
}

.mat-card-title {
  width: 100%;
}

.mat-card-content {
  text-align: center;
}
